<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="swAlumnosSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54402/swAlumnos.asmx" binding="basicHttpBinding"
                bindingConfiguration="swAlumnosSoap" contract="rswsAlumnos.swAlumnosSoap"
                name="swAlumnosSoap" />
        </client>
    </system.serviceModel>
</configuration>